.main{
    /* background-color: aqua; */
    height: 12vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 22rem;
    padding-top: 2rem;
        
}
.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    position: fixed;
   
}
.sec input{
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    width: 15rem;
}
.sec input:hover{
    background-color: rgb(1, 2, 3);
    color: white;
}
.sec button{

    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(11, 183, 189);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.banner{
    width:50%;
    margin: 40 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-left: 20rem;
    padding: 1rem;
}
img{
    width: 80%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    margin-top: 2rem;
        margin-left: auto;
}
img:hover{
    box-shadow: 0 0 20px rgba(100,190,200,0.9);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.01);
}
li{
    list-style-type: none;
    padding: 0.5rem;
}
body{
  
    background-color: #352929;
    font-family: Arial, sans-serif;
}
p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: text-shadow 0.3s ease;

}